body {
    background-color: #e0f7fa;
    font-family: Arial, sans-serif;
}
.container {
    width: 80%;
    margin: 40px auto;
    padding: 20px;
    background-color: white;
}

.box {
    width: 300px;
    height: 100px;
    background-color: #4db6ac;
    margin-top: 20px;
    padding: 15px;
}

h1 {
    color: #00695c;
    text-align: center;
    text-decoration: underline;
}

.teks {
    color: #333;
    font-size: 16px;
    text-align: justify;
}